<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.morganestes.windows-hotkey</string>
	<key>connections</key>
	<dict>
		<key>294A52DC-6FB9-4549-8665-D58FDE0223F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F9C47AF-FF7F-4A0D-BBC3-6F42EC85F4AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7EB8545E-1054-45C2-A503-98C130F17A2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5C53732-7600-48C5-A004-BA2412BE3E96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A6DD96E9-290D-4B85-840A-4BC1FE72AB97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1215AC41-119B-4D10-88BF-608800B64CA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F903EBF9-B313-4981-8B24-D5DB104462F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CA277CD-00DE-452A-84E9-91BF8CD3B292</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Morgan Estes</string>
	<key>description</key>
	<string>Use Windows hotkeys to trigger various system functions in OS X.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Windows Hotkeys</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>6</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>3F9C47AF-FF7F-4A0D-BBC3-6F42EC85F4AB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>294A52DC-6FB9-4549-8665-D58FDE0223F3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>8</integer>
				<key>confirm</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>1215AC41-119B-4D10-88BF-608800B64CA3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A6DD96E9-290D-4B85-840A-4BC1FE72AB97</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F903EBF9-B313-4981-8B24-D5DB104462F5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>7</integer>
				<key>confirm</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>7CA277CD-00DE-452A-84E9-91BF8CD3B292</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>9</integer>
				<key>confirm</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>C5C53732-7600-48C5-A004-BA2412BE3E96</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>118</integer>
				<key>hotmod</key>
				<integer>9568256</integer>
				<key>hotstring</key>
				<string>F4</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7EB8545E-1054-45C2-A503-98C130F17A2A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Lets you use some Windows hotkeys you’re used to. Especially helpful if you use a Microsoft keyboard with your Mac, as the Alt/Option key is the same position as the Windows key, which lets you use the Win+key combo.</string>
	<key>uidata</key>
	<dict>
		<key>1215AC41-119B-4D10-88BF-608800B64CA3</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>294A52DC-6FB9-4549-8665-D58FDE0223F3</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>3F9C47AF-FF7F-4A0D-BBC3-6F42EC85F4AB</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>7CA277CD-00DE-452A-84E9-91BF8CD3B292</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>7EB8545E-1054-45C2-A503-98C130F17A2A</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>A6DD96E9-290D-4B85-840A-4BC1FE72AB97</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>C5C53732-7600-48C5-A004-BA2412BE3E96</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>F903EBF9-B313-4981-8B24-D5DB104462F5</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/morganestes/alfred-windows-hotkey</string>
</dict>
</plist>
